<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"  scriptProcessor="D:\Saqib\IdentifyModifiedImage\Mycode\MLSource\yolov10-main\env\Scripts\python.exe|D:\Saqib\IdentifyModifiedImage\Mycode\MLSource\yolov10-main\env\Lib\site-packages\wfastcgi.py"  resourceType="Unspecified" />
            <add name="PythonAPI" path="*" verb="*" modules="FastCgiModule" 
                
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpErrors errorMode="Detailed"/>
        <asp scriptErrorSentToBrowser="true"/>
        <security>
            <requestFiltering>
                <verbs>
                    <clear /> <!-- Clear all existing handlers -->
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>


